// COLORS

$azure: #57ddff;
$purple: #c058f3;

// PRIMARY

$bright-blue: hsl(220, 98%, 61%);
$check-bg: linear-gradient(#57ddff, #c058f3);

// NEUTRAL

// LIGHT THEME

$v-lt-gray: hsl(0, 0%, 98%);
$v-lt-grayish-blue: hsl(236, 33%, 92%);
$lt-grayish-blue: hsl(233, 11%, 84%);
$dr-grayish-blue: hsl(236, 9%, 61%);
$vr-dr-graysh-blue: hsl(235, 19%, 35%);

// DARK THEME

$nt-vr-dr-blue: hsl(235, 21%, 11%);
$nt-desatured-blue: hsl(235, 24%, 19%);
$nt-lt-grayish-blue: hsl(234, 39%, 85%);
$hover-grayish-blue: hsl(236, 33%, 92%);
$nt-dr-grayish-blue: hsl(234, 11%, 52%);
$nt-vr-dr-grayish-blue: hsl(233, 14%, 35%);
$nt-vr-dr-grayish-blue2: hsl(237, 14%, 26%);




// TYPOGRAPHY

$font-sz: 18px;

$font-fam: 'Josefin Sans', sans-serif;

$ft-400: 400;
$ft-700: 700;




// ABSTRACT

$pd-2: 2rem 2rem;
$yp-2: 2rem 0rem;
$xp-2: 0rem 2rem;
